
<div id="content">
	<div class="box">
		<%= image_tag ('DSC_0242.jpg'),{:height => 250, :width => 680, :alt => "NU",:class => 'pic'} %>
		<br />		
		<p align="justify" style="text-indent:30px;">
			Nile University is a not-for-profit, privately-owned and autonomously-managed institution of
			higher learning. It is the first in a new class of academic institutions in Egypt that embraces
			partnership with the private sector, represented by an NGO (EFTED), government, business, and
			industry, in a major initiative of great national and regional interest.
		</p>
		<p align="justify" style="text-indent:30px;">
			The Egyptian Foundation for Technology Education (EFTED) is a not-for-profit organization,
			dedicated to improving technology-related education through establishing specialized institutes,
			schools and vocational schools, was created to provide a mechanism for the delivery of NU.
		</p>
	</div>
	<div class="box" id="content-box1">
		<ul class="section-list">
			<li class="first">
				<h4>Vision</h4>
				<span>The vision of Nile University is to be a world class, internationally recognized research university.</span>
			</li>
			<li class="last">
				<h4>Core Values</h4>
				<span>In support of the mission, NU faculty and staff are committed to shared core values that promote:</span>
				<p style="text-align:justify; margin-left: 25px; font-style:italic; font-size:12px; color:#387777;">
					1- Excellence
					<br />
					2- Ethics and Integrity
					<br />
					5- Diversity
					<br />
					4- Freedom of Thought and Expression
					<br />
					6- Respect for the Individual
					<br />
				</p>
			</li>
		</ul>
	</div>
	<div class="box" id="content-box2">
		<ul class="section-list">
			<li class="first">
				<h4>Mision</h4>
				<span>The mission of Nile University is to contribute to the development of the technology-driven
					economies in Egypt and the region through the pursuit of education and research at the highest
					levels of excellence.
					<br />
					To accomplish its mission, NU shall:</span>
				<br />
				<p style="text-align:justify; margin-left: 25px; font-style:italic; font-size:12px; color:#387777;">
					1- Recruit, develop and retain high quality faculty and staff.
					<br />
					2- Attract, support and retain highly qualified and motivated students.
					<br />
					3- Create an educational environment and physical facilities conducive to learning and research.
					<br />
					4- Establish strong linkages with business, government and NGOs to enhance the capacity building in the local and regional community.
					<br />
					5- Promote a culture for creative research and critical thinking.
					<br />
					6- Leverage the expatriates' resources.
					<br />
					7- Encourage collaboration with other universities.
					<br />
					8- Harvest research output and incubate intellectual property.
					<br />
				</p>
			</li>
		</ul>
	</div>
</div>
<!--
<div id="page-bottom">
	<div id="page-bottom-content">
		<h3 style="color:#646A6A;">Contact Information</h3>
		<p style="color: #404343;">
			<b>Telephone: </b>1NILE (16453)
			<br />
			<b>Fax: </b>+20 2 3539 2350
			<br />
			<b>Postal Address</b>
			<br />
			Nile University - Smart Village - B2 - Km 28 ,
			<br />
			Cairo-Alex Desert Rd - Cairo 12677, Egypt.
		</p>
	</div>
	<div id="page-bottom-sidebar">
		<ul class="list">
			<li class="first">
				General Information:<a href="#"> info@nileuniversity.edu.eg</a>
				<br />
				Admission:<a href="#"> admission@nileuniversity.edu.eg</a>
			</li>
		</ul>
	</div>
	<br class="clearfix" />
</div>
-->
