<div id="content">
	<div class="box">
		<%= image_tag ('DSC_0242.jpg'),{:height => 230, :width => 687, :alt => "NU",:class => 'pic'} %> <h2>Welcome to Big Business</h2>
		<p>
			This is <strong>Big Business</strong>, a free and fully standards-compliant CSS website template by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>. The pictures in this template are from <a href="http://pdphoto.org">PDPhoto.org</a>. This free CSS template is released under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attributions 3.0</a> license, so you are pretty much free to do whatever you want with it (even use it commercially) provided you keep all the links in the footer intact. Aside from that, have fun with it :)
		</p>
	</div>
	<div class="box" id="content-box1">
		<h3>Mauris justo</h3>
		<ul class="section-list">
			<li class="first">
				<img class="pic alignleft" src="images/pic02.jpg" width="70" height="70" alt="" />
				<span>Condimentum et porttitor tristique nec aliquet magnis pretium quam nibh.</span>
			</li>
			<li>
				<img class="pic alignleft" src="images/pic02.jpg" width="70" height="70" alt="" />
				<span>Posuere elementum sapien justo tortor nulla fringilla suspendisse nascetur.</span>
			</li>
			<li class="last">
				<img class="pic alignleft" src="images/pic02.jpg" width="70" height="70" alt="" />
				<span>Ipsum quis vestibulum feugiat congue nunc laoreet volutpat lorem ipsum sociis.</span>
			</li>
		</ul>
	</div>
	<div class="box" id="content-box2">
		<h3>Magnis hendrerit erat</h3>
		<p>
			Neque neque ornare penatibus tristique fusce turpis. Purus sagittis euismod at ornare suscipit tempus.
		</p>
		<ul class="list">
			<li class="first">
				<a href="#">Ipsum phasellus ullamcorper</a>
			</li>
			<li>
				<a href="#">Mollis mattis tempus amet</a>
			</li>
			<li>
				<a href="#">Ipsum aliquet dignissim vitae</a>
			</li>
			<li>
				<a href="#">Orci metus curae sed mollis</a>
			</li>
			<li class="last">
				<a href="#">Tristique amet venenatis</a>
			</li>
		</ul>
	</div>
	<br class="clearfix" />
</div>
<div id="sidebar">
	<div class="box">
		<h3>Cursus magnis</h3>
		<ul class="list">
			<li class="first">
				<a href="#">Adipiscing tincidunt</a>
			</li>
			<li>
				<a href="#">Euismod elit sollicitudin</a>
			</li>
			<li>
				<a href="#">Dolor magnis et lacinia</a>
			</li>
			<li>
				<a href="#">Mauris ornare aenean</a>
			</li>
			<li class="last">
				<a href="#">Ante semper fringilla</a>
			</li>
		</ul>
	</div>
	<div class="box">
		<h3>Morbi at varius</h3>
		<div class="date-list">
			<ul class="list date-list">
				<li class="first">
					<span class="date">2/08</span><a href="#">Quam sed tempus</a>
				</li>
				<li>
					<span class="date">2/05</span><a href="#">Lorem et vestibulum</a>
				</li>
				<li>
					<span class="date">2/01</span><a href="#">Risus aenean tellus</a>
				</li>
				<li class="last">
					<span class="date">1/31</span><a href="#">Tristique et primis</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<br class="clearfix" />
</div>
<div id="page-bottom">
	<div id="page-bottom-content">
		<h3>Magnis hendrerit erat</h3>
		<p>
			Euismod sodales sociis hendrerit pulvinar molestie urna. Consectetur egestas sodales at ornare laoreet turpis. Lorem id sapien ridiculus sagittis imperdiet urna suspendisse. Posuere arcu parturient quam risus. Aliquam nullam magnis integer gravida vulputate felis. Consectetur montes sollicitudin dictum. Auctor sociis hendrerit pulvinar molestie urna lorem ipsum dolor vivamus pulvinar libero. Massa egestas cubilia lacus augue mattis consectetur.
		</p>
	</div>
	<div id="page-bottom-sidebar">
		<h3>Sed interdum</h3>
		<ul class="list">
			<li class="first">
				<a href="#">Suspendisse ultricies</a>
			</li>
			<li>
				<a href="#">Tortor mollis enim</a>
			</li>
			<li class="last">
				<a href="#">Lorem enim tempor</a>
			</li>
		</ul>
	</div>
	<br class="clearfix" />
</div>
