
<h4>
	<%= @greeting%>
</h4>
<p>
	<%= @body %>
</p>

<p style="color:#767E84"><small><i>
---<br />
Nile University Addmission Office <br />SMART VILLAGE – B2<br />
Cairo - Alex Desert Road, Km28,<br />
6th of October - Egypt, 12677<br />
Tel:   +20 2 3534 2072<br />
Email: admission.nileu@gmail.com <br />
</i></small></p>

