<h3>Registered!</h3>
<p>
	Thank you for signing up.<br/>
	
	You have not yet submitted your application form, <br/>
	You can fill it in using the following link:<br/>
	<%= link_to "New Application", application_user_url(@user) %>
	
</p>

