<h3>Application Created</h3>
<p>
	Thank you for applying to Nile University.<br/>
	
	You have not yet submitted your application form, <br/>
	You can fill it in using the following link:<br/>
	<%= link_to "New Application", application_user_url(@user) %>
	
</p>

