
<h3>Application Created</h3>
<p>Dear <%= @name %>,</p>
<p>
	You have successfully submitted your application.<br/>
	We will notify you when your application is reviewed.<br>
	Danke schoen.
</p>

<p>Please find attached your application form.</p>

<p><i>Nile University Admission Office</i></p>

