<h3>Application Submitted</h3>

<p>Dear <%= @name %>,</p>
<p>
	You have successfully submitted your application.<br/>
	We will notify you when your application is reviewed.<br>
	
</p>

<p>Please find attached your application form.</p>

<p><i>Nile University Admission Office</i></p>

