<%= form_for app, :url => "/admin/applicants/#{app.id}/savereject" do |form| %>
<div class="well">
    	<%= form.label :notes ,"Please write your notes here, if you wish to send them with the rejection email." ,{:class => 'label2'} %><br/><br />
        <%= form.text_area :notes, :class => 'input-xlarge' %><br/><br />
        
        <%= form.submit :value => 'Reject',:style=>'position:relative;left:230px' %>
</div> 
<% end %>
